{% extends "layout.html" %}

{% block content %}
<h2>User Profile</h2>

<h3>Update Profile</h3>
<form id="profile-form">
  <input id="first_name" placeholder="First Name">
  <input id="last_name" placeholder="Last Name">
  <input id="email" placeholder="Email">
  <input id="username" placeholder="Username">
  <button type="submit">Update Profile</button>
</form>

<h3>Change Password</h3>
<form id="password-form">
  <input id="current_password" type="password" placeholder="Current Password">
  <input id="new_password" type="password" placeholder="New Password">
  <input id="confirm_new_password" type="password" placeholder="Confirm New Password">
  <button type="submit">Change Password</button>
</form>

<script src="/static/js/profile.js"></script>
{% endblock %}
